<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="4"
      package="com.woelfware.blumote" android:versionName="13.10.9"
      android:installLocation="preferExternal">
    
    <uses-sdk android:targetSdkVersion="10" android:minSdkVersion="10"></uses-sdk>
    	  
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>	
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	
    <application android:label="@string/app_name" 
        android:icon="@drawable/bluemote" 
        android:backupAgent=".MyBackupAgentHelper"
        android:theme="@style/NoActionBar">
		<meta-data android:name="com.google.android.backup.api_key"	android:value="AEdPqrEAAAAIysP9ZYx7oeCaJyRBh-DjWkeBNhMVBgadedpcGQ" />
        <activity 	android:theme="@style/NoActionBar"
            		android:name="BluMote"
                	android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<!-- 
		<receiver 
		    android:name=".ConnectivityListener">
            <intent-filter>
                <action android:name="com.woelfware.ACTION_ALARM_TIMEOUT_DISCONNECT" />
            </intent-filter>    
		</receiver>
		
		<receiver android:name="ConnectivityListener" android:process=":remote"> </receiver>
        -->
        <activity android:name="MyPreferences"/>
		<activity android:name="PodListActivity"/>    
		<activity android:name="ManageDevices"/>
		<activity android:name="FwUpdateActivity"/>
		<activity android:name="ActivityInitEdit"></activity>
		<activity android:theme="@android:style/Theme.Dialog" android:label="New Device" android:name="EnterDevice"></activity>
		<activity android:theme="@android:style/Theme.Dialog" android:label="New Activity" android:name="CreateActivity"></activity>
		<activity android:theme="@android:style/Theme.Dialog" android:name=".EnterName" android:label="Enter Name"></activity>				
	</application>	
</manifest> 