<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      package="com.woelfware.blumote" android:versionName="12.12.5"
      android:installLocation="preferExternal">
    
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"></uses-sdk>
    	  
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>	
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	
    <application android:label="@string/app_name" android:icon="@drawable/bluemote" android:backupAgent=".MyBackupAgentHelper">
		<meta-data android:name="com.google.android.backup.api_key"	android:value="AEdPqrEAAAAIysP9ZYx7oeCaJyRBh-DjWkeBNhMVBgadedpcGQ" />
		
        <activity android:name="BluMote"
                  android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="MyPreferences"/>
		<activity android:name="PodListActivity"/>    
		<activity android:name="ManageDevices"/>
		<activity android:name="FwUpdateActivity"/>
		<activity android:theme="@android:style/Theme.Dialog" android:label="New Device" android:name="EnterDevice"></activity>
		<activity android:theme="@android:style/Theme.Dialog" android:label="New Activity" android:name="CreateActivity"></activity>
		<activity android:name="ActivityInitEdit"></activity>
		<activity android:name=".EnterName" android:theme="@android:style/Theme.Dialog" android:label="Enter Name"></activity>				
	</application>	
</manifest> 